torch>=2.1.0 #dung cho GNN (devign)
torchvision #dung cho GNN (devign)
transformers  #cho RAG/LLM embedding
tqdm #thanh tien trinh huan luyen
elasticsearch #retriever RAG
numpy #xu ly dang mang
pandas #xu ly dang bang
matplotlib #ve do thi
scikit-learn #danh gia model
sentence-transformers #cho RAG/LLM embedding